
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FEFAE0;
  }


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.general-div {
  background-color: white;
}

.header-container{
  margin: auto;
  width: 100%;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  position: relative;
  background-color: #CCD5AE;
}

.navbar-logo{
  padding: 0;
  margin: 0;

}
.btn-container{
  display:flex;
  justify-content: space-between;
  margin-right: 0;
}


.profile-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: right;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  margin: 5px;


}
.logout-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: flex-end;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  padding: 2rem;

}

.layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:10px;
  width: 100%;
}
.layout-container{
  background-color: #FEFAE0;


}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  z-index: 100;

}

.pi-instagram{
  transition: transform .2s;
}

.pi-instagram :hover{
  transform: scale(1.5);
}

.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.profile-image {
  max-width: 60%;
  margin-bottom: 3rem;
  width: 362px;
  height: 604px;
  border-radius: 44px;
}

.card-window{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-container{
  position: relative;
  width: 462px;
  height: 604px;
  top: 4rem ;
  background: #D9D9D9;
  border-radius: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-img{
  object-fit: cover;
  width: 462px;
  height: 604px;
  border-radius: 44px;
}

.layout{
  display: flex;
  flex-direction: column;
}

.card-container-left{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-right: 4rem;

}
.card-container-right{
  width: 362px;
  height: 604px;
  margin: 3rem;

  top: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;

background: transparent;
border-radius: 44px;
}

.profile-heading{
  color: #331d0a;
  ;
}
.btn-container-card{
  top:700px;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-card{
  border-radius: 50%;
  margin: 3rem;
  height: 3rem;
  width: 3rem;

  justify-content: center;
  align-items: center;
  border: none;


}

.button-container {
  align-items: center;
  justify-content: center;
  display: flex;
}


.signup-logo {
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-text{
  font-size: 10px;
  opacity: 0.5;
  display: flex;
  justify-content: center;

}

.signup {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.signup-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.signup-side {
  width: 40%;
}

.checkbox{
  display: flex;
  margin-right: 2rem;
}

.checkbox-div{
  display: flex;
  color: black;
  margin: 2rem;
}

.radio-btn{
  display: flex;
  margin-top: 10px;
}

.radio-title {
  font-size: 16px;
  color: black;
}

.radio-container {
  outline: none;
  background-color: #faedcd7a;
  border-radius: 5px;
  border: none;
  color: #000000;
  margin: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 16px;
}

.signup-p{
  size: 12px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.radio{
  margin: 0 10px;
}

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#availability {
  margin-left: 20px;
}

.login-input{
  outline: none;
  background-color: #faedcd7a;
  border-radius: 5px;
  border:none;
  color: #000000;
  margin: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 16px;
}

.login-btn{
  background-color: #CCD5AE;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 20px;
  width: 80%;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover{
  box-shadow: 2px 2px;
}

.login-btn:active{
  box-shadow: -2px -2px;
}

.login-sign-up-text {
  color: black;
  font-size: 16px;
  margin-top: 30px;
}

.login-sign-up-link {
  color: #2f2f8b !important;
  text-decoration: underline !important;
}

.login-sign-up-link:hover {
  font-weight: bold;
}

#header{
  position: relative;
  margin: 0 auto 0 !important;
  padding-top: 0px;
  background-color: #CCD5AE;
  width: 100%;

}

#header h1{
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
