
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FEFAE0;
  }


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-container{
  margin: auto;
  width: 100%;
  padding-left: 10;
  padding-right: 10;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  position: relative;
  background-color: #CCD5AE;
}

.navbar-logo{
  padding: 0;
  margin-left: 2rem;

}
.btn-container{
  display:flex;
  justify-content: space-between;
  margin-right: 0;
}

#column1 {
  margin-top: 13.75rem;
}

.profile-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: right;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  margin: 5px;


}
.logout-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: flex-end;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  padding: 2rem;

}

.layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:10px;
  width: 100%;
}
.layout-container{
  background-color: #FEFAE0;

  
}

.login-container{
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  height: 100%;
  
  

}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  
}

.pi-instagram{
  transition: transform .2s; 
}

.pi-instagram :hover{
  transform: scale(1.5);
}

.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.card-container{
  position: absolute;
  width: 462px;
  height: 704px;
  left: 489px;
  top: 228px;

  background: #D9D9D9;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout{
  display: flex;
  flex-direction: column;
}

.card-container-left{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-right: 4rem;

}
.card-container-right{
  width: 362px;
  height: 604px;
  margin: 3rem;
  
  top: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  flex-direction: column;
  

background: #FAEDCD;
border-radius: 44px;
}

.profile-heading{
  color: #331d0a;
  ;
}
.btn-container-card{
  top:700px;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-card{
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 100;

}




.footer-text{
  font-size: 10px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.signup-container{
  display: flex;
  flex-direction: row;
  
  margin-top: 20 rem;
  height: 90%;

}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.right{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.checkbox{
  display: flex;
  margin-right: 2rem;
}

.checkbox-div{
  display: flex;
  color: black;
  margin: 2rem;
}

.radio-btn{
  display: flex;
  flex-direction: row;
}

.signup-p{
  size: 12px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.radio{
  margin: 10px;
}

.login-box{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 643px;
  height: 80%;
  border-radius: 11px;
}

.login-input{
  outline: none;
  background-color: #FAEDCD;
  border-radius: 5px;
  border:none;
  color:#46494C;
  display: flex;
  justify-content: bottom;
  align-items: center;
  vertical-align: center;
  margin: 1rem;
  padding: 1rem 0rem 0rem 2.5rem;
  opacity: 0.5;
  font-size: 2ch;
}

.login-btn{
  background-color: #CCD5AE;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1.5rem 4rem 1.5rem 4rem;
  margin-top: 20px;
  min-width: 350 px;
  height: 1 rem;
  width: 5rem;
  font-size: 2ch;

}

#header{
  position: relative;
  margin: 0 auto 0 !important;
  padding-top: 0px;
  background-color: #CCD5AE;
  width: 100%;

}

#header h1{
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
